/* .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
} */

