.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #011127;
  color: #f3f6fa;
}



.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 83vh;
  margin: 4rem;
}

